<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <deny roles="Empleado" />
            <allow roles="Almacenista" />
            <deny users="?" />
            <deny roles="Empleado" />
        </authorization>
    </system.web>
</configuration>